.welcome {
    background-color: #87CEEB;
    width: 100vw; 
    height: 100vh; 
}

.welcome-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.welcome-slogan {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-slogan p {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
}
.search-container {
    display: flex;
    flex-direction: row;
}
.search-container input{
    width: 400px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-top: 10px;
}
.search-container button {
    background-color: #007fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    margin-top: 10px;
}
.search-container i {
    font-size: 1rem;
    color: white;
}

.welcome-banner {
    height: 25rem; 
    width: 40rem;
    align-content: center;
    
}
.welcome-banner img {
    flex: 1;
    max-width: 100vw;
    object-fit: cover; /* Ensure the image covers its container */
}